
.cols{
    display: flex;
}

.cols__item{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 66.66%;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
}

.cols__item_small{
    justify-content: flex-end;
    width: 33.33%;
}